<Html>
<HEAD >
<title>College Registration</title>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</HEAD>
<body id ="body">
<form action="http://127.0.0.1:8086/public/Registration" method="POST" >

<div class=".container" align="center" id ="body">
  <h1 ><p1 id="heading">College Login</p1></h1>
  Emaild Id<input type="text" name="emailId"><br>
  Passowrd<input type="password" name="password"><br>
  Name<input type="text" name="name"><br>
  Street<input type="text" name="street"><br>
  Pin Code<input type="text" name="pinCode"><br>
  City<input type="text" name="city"><br>
  <input type="submit" value="Submit"><br>

</div>
</form>
</body>
</Html>